<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 제목 태그 -->
    <h1>
        Index Page
    </h1>
    <!-- 글 목록 태그 -->
    <p>
        (부산=연합뉴스) 김선호 기자 = 더불어민주당 이재명 대표를 흉기로 찌른 혐의(살인미수·공직선거법 위반)로 기소된 김모(67)씨 측은 첫 재판에서 범행을 인정하지만, 검찰이 규정한 범행 동기는 받아들일 수 없다고 밝혔다.

20일 부산지법 형사6부(부장판사 김태업) 심리로 열린 이 대표 습격범 김씨의 공판준비기일에서 변호인은 "어제 검찰로부터 7천 페이지 분량의 기록을 받아 검토했다"며 "김씨는 범행 사실은 자백하지만 범행 동기는 다투는 부분이 있다"고 말했다.

변호인은 "특히 김씨는 검찰의 공소장 중 범행 배경 부분에서 자포자기 심정과 영웅 심리에서 범행을 저질렀다는 부분을 인정하지 않고 있으며 순수한 정치적 명분에 의한 행동이라 주장한다"고 말했다.
    </p>
    <!-- 하이퍼링크 -->
    <a href="https://www.google.com">Google</a>
    <a href="/second">Second 페이지로 이동</a>
</body>
</html>